#cabecalho {
  background-color: #fff5e6;
  font-family: 'Rubik', sans-serif;
}

#fundo {
  background-color: #fffef4;
}

#navbar {
  background-color: #fefff9;
}

#selecionado:hover {
  background-color: #e5e5e3;
}

#tituloinicio {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

/* tab color */


/* active tab color */


/* hover tab color */
