#cabecalho {
  background-color: #fff5e6;
  font-family: 'Rubik', sans-serif;
}

#fundo {
  background-color: #fffef4;
}

#navbar {
  background-color: #fefff9;
}

#selecionado:hover {
  background-color: #e5e5e3;
}

#tituloinicio {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

#planofundo {
  background-color: white;
  opacity: 0.85;
}

#fundobranco {
  background-color: white;
}

#titulofilmes {
  font-family: 'Archivo', sans-serif;
}

#backpagina {
  background-image: url("/img/moviePattern.png");
  background-repeat:repeat;
}

#backfooter {
  background: linear-gradient(to bottom right, #f9fafc 0%, #d2d5db 100%);
}





/* tab color */


/* active tab color */


/* hover tab color */
